body {
  height: 100vh;
  background-color: #ffffff;
}
.start {
  width: 550px;
  height: 550px;
  background-image: url('../Resources/intro-page.png');
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 2px 3px 20px 5px rgba(128, 128, 128, 0.195);
}
.start-heading {
  font-weight: 700;
  font-size: 31.25px;
  color: #293264;
  margin: 0px;
  padding: 0px;
}
.start-description {
  color: #293264;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  padding: 10px;
  margin-bottom: 10px;
}
.start-button {
  background: #4d5b9e;
  border-radius: 10px;
  border: none;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  color: #f5f7fb;
  padding: 13px 40px;
  margin: 10px;
  cursor: pointer;
}

.start-button:active {
  background-color: #404b85;
}

.game {
  width: auto;
  height: auto;
  background-image: url('../Resources/questions.png');
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 2px 3px 20px 5px rgba(128, 128, 128, 0.195);
}
.question {
  max-width: 500px;
  margin: 0px 50px;
}
.options {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.question-heading {
  font-weight: 700;
  font-size: 17px;
  line-height: 19px;

  color: #293264;

  margin: 15px 0px;
  margin-bottom: 10px;
}
.horizontal-line {
  border: 0.794239px solid #dbdef0;
  height: 0px;
  margin-top: 14px;
}
.option {
  border: 1px solid #4d5b9e;
  border-radius: 7.94239px;

  font-family: 'Inter';
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;

  color: #293264;
  padding: 3px 16px;

  margin-right: 13px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 13px 0px 0px;
  user-select: none;
}
.game-button {
  background: #4d5b9e;
  border-radius: 13px;
  border: none;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  color: #f5f7fb;
  padding: 13px 40px;
  margin: 10px;
  cursor: pointer;
}
.game-button:active {
  background-color: #404b85;
}
.option-selected {
  background: #d6dbf5;
  border: none;
}
.option-correct {
  background: #94d7a2;
  border: none;
}
.option-incorrect {
  background: #f8bcbc;
  border: none;
}
.option-game-end {
  opacity: 0.5;
}
.complete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.score {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12.8px;

  color: #293264;
  padding: 5px 20px;
}
.questions {
  margin-top: 20px;
}
.loader {
  border: 8px solid #f3f3f300; /* Light grey */
  border-top: 8px solid #383c56; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
.customization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.customization-picker {
  padding: 10px 0px;
}
.form-select {
  border: 0px;
  background-color: transparent;
  border-bottom: 1px solid #383c56;
  font-family: 'Karla';
  color: #293264;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0px;
  margin: 0px;
  max-width: 200px;
  padding-right: 13px;
}
.select {
  margin-bottom: 12px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  .body {
    width: 100%;
    display: block;
  }
  .App {
    height: 100vh;
    width: 100%;
  }
  .start {
    width: 100%;
    height: 100%;
  }
  .game {
    width: 100%;
    min-height: 100%;
    height: auto;
  }
  .question {
    margin: 0px 30px;
  }
}
@media only screen and (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .game {
    height: auto;
    min-width: 550px;
    min-height: 550px;
  }
}
